# Archivos generados automáticamente
*.pyc
__pycache__/

# Archivos de configuración local
*.sqlite
*.ini

# Archivos y directorios de build
build/
dist/

# Directorios de entornos virtuales
venv/
env/
virtualenv/

.idea/
*.sublime-project
*.sublime-workspace

# Archivos de PyInstaller
*.spec

# Archivos binarios generados
*.exe
